@using MvcPaging;
@using Platini.Models;
@model IPagedList<Platini.Models.ClothListItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Common/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6 col-lg-6 col-sm-6">
    @*<strong>Categories</strong>*@
    @using (Html.BeginForm("FutureDeliveries", "Home", new { area = "Common" }, FormMethod.Post))
    {
        <div class="filter-block">
            <div class="formblock">
                <div class="block">
                    <div class="formrow">
                        Search by Style Number
                    </div>
                    <div class="formrow">
                        <div class="feild">
                            @Html.TextBox("searchString")
                        </div>
                    </div>
                    <div class="formrow">
                        <div class="feild">
                            <input id="searchBtn" class="cobtn" value="GO" type="submit" style="height: 22px;" onclick="@Url.Action("FutureDeliveries", "Home", new { @sortOrder = ViewBag.currentOrderParam, @sortColumn = ViewBag.sortColumnParam, @searchString = ViewBag.searchStringParam })" />
                            <span style="float: left;">&nbsp;&nbsp;</span><input id="clearSearchBtn" class="cobtn" value="Clear" type="button" style="height: 22px;" onclick="javascript: window.location = window.location.href;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="col-md-6 col-lg-6 col-sm-6">
    <div class="navigationlist">
        <ul>
            @if (SiteConfiguration.Mode.ToLower() == "edit")
            {
                <li>
                    <a onclick="javascript:activateClothIds();">Activate</a>
                </li>
            }
            <li>
                <a href="~/Home/Index?mode=f">Preview</a>
            </li>
            <li>
                <a href="@Url.Action("FutureDeliveries", "Home")" id="resetsearch">
                    <img src="@Url.Content("~/Styles/images/listIcon.png")" alt="">Refresh
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12 col-lg-12 col-sm-12">

    <div class="minContainer">
        <div class="listmanager">
            <div class="head">
                Future Deliveries
            </div>
            <div class="main-listing-box">
                <table style="border: 0; width: 100%">
                    <tr class="title-pannel">
                        <td style="text-align: center">
                            @if (SiteConfiguration.Mode.ToLower() == "edit")
                            {
                                @Html.CheckBox("masterDeactivatedProductCheckBox", new { onchange = "javascript:masterDeactivatedProductCheckBoxFunc();" })
                            }
                        </td>
                        <td class="col-lg-2"><a href="javascript:void(0);" id="hideA">Hide Images</a></td>

                        <td class="col-lg-3">@Html.ActionLink("Style Number", "FutureDeliveries", "Home", new { @sortOrder = ViewBag.sortOrderParam, @sortColumn = "StyleNumber", searchString = ViewBag.searchStringParam }, null)</td>
                        <td class="col-lg-3">@Html.ActionLink("Price($)", "FutureDeliveries", "Home", new { @sortOrder = ViewBag.sortOrderParam, @sortColumn = "Price", searchString = ViewBag.searchStringParam }, null)</td>
                        <td class="col-lg-3">@Html.ActionLink("Delivery Date", "FutureDeliveries", "Home", new { @sortOrder = ViewBag.sortOrderParam, @sortColumn = "FutureDeliveryDate", searchString = ViewBag.searchStringParam }, null)</td>
                        @if (SiteConfiguration.Mode.ToLower() == "edit")
                        {
                            <td class="col-lg-1" style="text-align: center">Actions</td>
                        }
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">
                                @if (SiteConfiguration.Mode.ToLower() == "edit")
                                {
                                    @Html.CheckBox("deactivateProductCheckBox", new { id = item.ClothesId })
                                }
                                @if (SiteConfiguration.Mode.ToLower() == "order")
                                {
                                    <span style="padding-left:40px;"></span>
                                }
                            </td>
                            <td class="col-lg-2">
                                <img class="hideimg" src="@Url.Content("~/Library/Uploads/WebThumb/" + item.ImagePath)" width="45" />
                            </td>

                            <td class="col-lg-3">
                                @Html.HiddenFor(x => item.ClothesId)
                                @item.StyleNumber
                            </td>
                            <td class="col-lg-3">
                                @item.Price.Value.ToString("0.00")
                            </td>
                            <td class="col-lg-3">
                                @item.FutureDeliveryDate.Value.ToString("dd MMM yyyy")
                            </td>
                            @if (SiteConfiguration.Mode.ToLower() == "edit")
                            {
                                <td class="col-lg-3" style="text-align: center">
                                    <a href="@Url.Action("Step1", "Clothes", new { Id = item.ClothesId })">Edit</a>
                                </td>
                            }
                        </tr>
                    }

                </table>
                <div class="pagingContainer"></div>
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new { @sortOrder = ViewBag.currentOrderParam, @sortColumn = ViewBag.sortColumnParam, searchString = ViewBag.searchStringParam })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var activateClothIds = function () {
        var selectedClothIds = new Array();

        $("input:checkbox[name=deactivateProductCheckBox]:checked").each(function () {
            var id = $(this).attr('id');
            selectedClothIds.push(id);
        });
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            url: "@(Url.Action("ActivateFutureClothes", "Home", new {@area="Common" }))",
            data: { "selectedClothIds": selectedClothIds },
            success: function () {
                location.reload();
            },
            error: function () { alert('An error occured while saving.') }
        });
    }

    var masterDeactivatedProductCheckBoxFunc = function () {
        var checked = $("#masterDeactivatedProductCheckBox").is(':checked');
        if (checked == true) {
            $("input:checkbox[name=deactivateProductCheckBox]").each(function () {
                var id = $(this).prop('checked', true);
            });
        }
        else if (checked == false) {
            $("input:checkbox[name=deactivateProductCheckBox]").each(function () {
                var id = $(this).prop('checked', false);
            });
        }
    }
    $(function () {
        jQuery.fn.extend({
            toggleText: function (a, b) {
                var that = this;
                if (that.text() != a && that.text() != b) {
                    that.text(a);
                }
                else
                    if (that.text() == a) {
                        that.text(b);
                    }
                    else
                        if (that.text() == b) {
                            that.text(a);
                        }
                return this;
            }
        });
        $("#hideA").click(function () {
            $(".hideimg").toggle();
            $(this).toggleText("Hide Images", "Show Images");
        });
    });
</script>
